

/*------------------------------------*\
    MAIN
\*------------------------------------*/

html,body,#pagewrap {
	font-size:12px;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#000;
	background-color:#fff;
	overflow:hidden;
}
h1,h2,h3,h4,h5,h6,button {
  font-family: 'Anke';
	margin:0;
	font-weight:normal;
}
h1 {
	font-size:8vw;
}
h2 {
	font-size:7vw;
}
h3 {
	font-size:4vw;
}
p {
	font-size:3vw;
	margin:0;
    font-family: 'open_sansregular';
}
button {
	cursor:pointer;
}
/* FONTS */
@font-face {
  font-family: 'Anke';
  src: url('../fonts/Anke.eot?#iefix') format('embedded-opentype'),  url('../fonts/Anke.woff') format('woff'), url('../fonts/Anke.ttf')  format('truetype'), url('../fonts/Anke.svg#Anke') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* homescreen */
.screen {
	width:100%;
	height:100%;
}
#homescreen {
	text-align:center;
	float:left;
}

#h-one {
	background-color:#2d2c2b;
	width:100%;
	height:50%;
	float:left;
	position: relative;
}
.center h2 {
	font-size:10vw;
}
#h-one h2:nth-child(1) {
	color:#434342;
}
#h-one h2:nth-child(2) {
	color:#545454;
}

#h-one h2:nth-child(3) {
	color:#fff;
}
#h-two,#h-three {
	width:100%;
	height:25%;
	float:left;
    position: relative;
}
#h-two {
	background-color: #4f6daa;
}
#h-three {
	background-color: #aa3f3f;
}

.center {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#h-two button {
	border: 2px solid #fff;
	background-color:#3b5998;
	color:#fff;
	width:80%;
	height:19vw;
    padding-left: 50px;
    font-size: 5.5vw;
}

#h-two button:before {
	content:'';
	    background-image: url(../img/f-icon.png);
    background-size: contain;
    width: 12vw;
    height: 12vw;
    position: absolute;
    background-repeat: no-repeat;
    left: 5vw;
    bottom:0;
    margin:auto;
    top: 0;
}

#h-three button {
	border: 2px solid #fff;
	background-color:#9b3434;
	color:#fff;
	width:80%;
	height:19vw;
    font-size:5.5vw;
}
.app {
	width:100%;
	
}

#facebookLogin {
	display:none;
}

.greyback {
	background-color:#2d2c2b;
	clear:both;
	float:left;
	width:100%;
}

hr {
	background-color:#474746;
	width:100%;
	clear:both;
	margin: 20px 0 30px;
}

.spacingcenter {
	width:90%;
	margin:0 auto;
}

.screen-header {
	color:#fff;
	margin:4vw 0 10px;
}

.column-two {
	width:50%;
	float:left;
}

#profileIcon {
	width:35vw;
	height:35vw;
	background-color:#1aafdb;
	border-radius:30vw;
	-webkit-box-shadow: inset 0px 0px 0px 10px #5cd1f4;
	-moz-box-shadow: inset 0px 0px 0px 10px #5cd1f4;
	box-shadow: inset 0px 0px 0px 10px #5cd1f4;
	position:relative;
	overflow: hidden;
    background-size: cover;
    background-position: center;
}
#profileIcon:after {
	content:'';
	width:50%;
	height:7%;
	position:absolute;
	background-color:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
#profileIcon:before {
	content:'';
	width:7%;
	height:50%;
	position:absolute;
	background-color:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
#profileIcon.noplus:after,#profileIcon.noplus:before {
    opacity:0;
}
#profileIcon img {
	bottom: 0px;
box-shadow: rgba(224, 224, 224, 0.701961) 0px 0px 0px 5px inset;
left: 0px;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
margin-top: auto;
max-height: 100%;
max-width: 100%;
position: absolute;
right: 0px;
top: 0px;
width: 100%;
z-index: 10;
}
#mainDetails {
	color:#fff;
	font-size:5vw;
}
#mainDetails h3 {
	font-size:4vw;
}

#description {
	margin:30px 0 30px;
	width:96%;
	background-color:#474441;
	border:0;
    resize: none;
	font-size:3vw;
	color:#fff;
	padding: 10px 2%;
}

.whiteback {
	background-color:#fff;
	clear:both;
	float:left;
	width:100%;
}
.greenback {
	background-color:#63bd6c;
	clear:both;
	float:left;
	width:100%;
}

.header {
	margin-top:20px;
	clear:both;
}

#interests {
	width:100%;
	clear:both;
	margin: 20px 0;
}

.plus-icon-green {
	background-color:#63bd6c;
	width:15vw;
	height:15vw;
	cursor:pointer;
	border:0;
	border-radius:15vw;
	position:relative;
}
.plus-icon-green:before {
	content:'';
	width:50%;
	height:7%;
	background-color:#fff;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.plus-icon-green:after {
	content:'';
	width:7%;
	height:50%;
	background-color:#fff;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.black {
	color:#000;
}

#imageGallery {
	width:100%;
	clear:both;
    overflow:scroll;
}
#imageGallery img{
	width:25%;
	margin: 10px 4%;
	float:left;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

#gallery {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	opacity:0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
	z-index: 99999;
    height:100%;
    background-color: #fff;
}

.backButton {
    width:0;
    height:0;
    background-color:transparent;
    float:left;
    border:0;
    margin-right:30px;
    border-right:4vw solid #fff;
    border-top: 4vw solid transparent;
    border-bottom: 4vw solid transparent;
    margin-top:10px;
    position:relative;
}

.fixedheader {
    height: 12%;
}

.mainCat div {
    width:100%;
}
.mainCat div img {
    filter: brightness(-10) invert(100%);
    -webkit-filter: brightness(-10) invert(100%);
    width: 10%;
    max-height: 130px;
    margin:5% 3%;
    vertical-align: middle;
}
.mainCat div h3 {
    color:#fff;
    display:inline-block;
    vertical-align: middle;
}

.overflow {
    overflow-y: scroll;
}

.fill {
        height: 88%;
}

.interesting {
    height:88%;
    width:90%;
    position:absolute;
    left:100%;
    bottom:0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.interesting div{ 
    clear:both;
    float:left;
    clear:both;
    width:90%;
}
.interesting div p{ 
    float:left;
    font-size:5vw;
    margin-top: 2vw;
}
.interesting div button{ 
    clear:both;
    width:3vw;
    height:3vw;
    border:0;
    background-color:#fff;
}
#interestspage {
    position:absolute;
    left:0%;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    top:0;
    overflow: hidden;
    background: #63bd6c;
}
#subcats button{
    background-color: #fff;
    border-radius:1vw;
    float: left;
    height: 6vw;
    margin: 3vw;
    width: 6vw;
    position:relative;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    background-image: url(../img/tick.png);
    background-size:0%;
    background-position: center;
    background-repeat: no-repeat;
}
#subcats button.active{
    background-size:80%;
}
#subcats {
    color:#fff;
    overflow:scroll;
}
#interests .imageint {
    float:left;
    width:14vw;
    height:14vw;
    border:5px solid #63bd6c;
    border-radius:10vw;
    position:relative;
}
.imageint img {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
    max-width:80%;
    max-height:80%;
}