

/*------------------------------------*\
    MAIN
\*------------------------------------*/

html,body,#pagewrap {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#000;
	background-color:#fff;
	overflow:hidden;
}
#pagewrap {
    display: none;
}
h1,h2,h3,h4,h5,h6,button {
  font-family: 'Anke';
	margin:0;
	font-weight:normal;
}
h1 {
	font-size:8rem;
}
h2 {
	font-size:7rem;
}
h3 {
	font-size:4rem;
}
p {
	font-size:3rem;
	margin:0;
    font-family: 'open_sansregular';
}
button {
	cursor:pointer;
}
/* FONTS */
@font-face {
  font-family: 'Anke';
  src: url('../fonts/Anke.eot?#iefix') format('embedded-opentype'),  url('../fonts/Anke.woff') format('woff'), url('../fonts/Anke.ttf')  format('truetype'), url('../fonts/Anke.svg#Anke') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* homescreen */
.screen {
	width:100%;
	height:100%;
overflow-y: scroll;
overflow-x: hidden;
}
#homescreen {
	text-align:center;
	float:left;
}

#h-one {
	background-color:#2d2c2b;
	width:100%;
	height:50%;
	float:left;
	position: relative;
}
#h-one h1 {
    color: #FF0B25;
    font-weight: bold;
    font-size: 11rem;
    margin-top: -16%;
    margin-bottom: 5%;
}
#h-one img{
    -webkit-transform: rotate(-38deg);
    -ms-transform: rotate(-38deg);
    transform: rotate(-38deg);
    margin-bottom: -3%;
}
.center h2 {
	font-size:10rem;
}
#h-one h2:nth-child(2) {
	color:#434342;
}
#h-one h2:nth-child(3) {
	color:#545454;
}

#h-one h2:nth-child(4) {
	color:#fff;
}
#h-two,#h-three {
	width:100%;
	height:25%;
	float:left;
    position: relative;
}
#h-two {
	background-color: #4f6daa;
}
#h-three {
	background-color: #aa3f3f;
}

.center {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#h-two button {
	border: 2px solid #fff;
	background-color:#3b5998;
	color:#fff;
	width:80%;
	height:12rem;
    padding-left: 50px;
    font-size: 5.5rem;
}

#h-two button::before {
	content:'';
	    background-image: url(../img/f-icon.png);
    background-size: contain;
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-repeat: no-repeat;
    left: 5rem;
    bottom:0;
    margin:auto;
    top: 0;
}

#h-three button {
	border: 2px solid #fff;
	background-color:#9b3434;
	color:#fff;
	width:80%;
	height:12rem;
    font-size:5.5rem;
}
.app {
	width:100%;
	
}

#facebookLogin {
	display:none;
}

.greyback {
	background-color:#2d2c2b;
	clear:both;
	float:left;
	width:100%;
    color:#fff;
}
.greyback p {
float: left;
font-size: 3.5rem;
margin-top: 3rem;
width: 100%;
}

hr {
	background-color:#474746;
	width:100%;
	clear:both;
	margin: 20px 0 30px;
}

.spacingcenter {
	width:90%;
	margin:0 auto;
}

.screen-header {
	color:#fff;
    margin: auto;
    position: absolute;
    left: 17%;
    top: 3.5rem;
    font-size: 8rem;
}
.screen-header-unfixed {
	color:#fff;
    margin: auto;
    top: 3.5rem;
    font-size: 8rem;
    margin-top:2rem;
}

.column-two {
	width:50%;
	float:left;
}

#profileIcon,.profileIcon {
	background-color:#1aafdb;
	border-radius:30rem;
	position:relative;
	overflow: hidden;
    background-size: cover;
    background-position: center;
  width: 1em;
  height: 1em;
  font-size: 35rem;
  cursor: default;
}
#profileIcon div:nth-child(2){
    overflow: hidden;
    width: 50%;
    right: 0;
    top: 0;
    border-color: transparent;
    border: 0;
    height: 100%;
}
#profileIcon div div{
  position: absolute;
  clip: rect(0px,1em,1em,0.5em);
  margin: 0;
  padding: 0;
    border-color:#47d656;
    right: 0;
    -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);
}
#profileIcon div:nth-child(3){
  position: absolute;
  clip: rect(0px,1em,1em,0.5em);
  margin: 0;
  padding: 0;
    border-color:#47d656;
    -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);
    opacity: 0;
}
#profileIcon div {
  position: absolute;
  border: .06em solid rgba(218, 218, 218, 0.62);
    width: 0.885em;
    height: 0.885em;
  border-radius: .5em;
  margin: 0;
  padding: 0;
}

#profileIcon::after {
	content:'';
	width:50%;
	height:7%;
	position:absolute;
	background-color:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
#profileIcon::before {
	content:'';
	width:7%;
	height:50%;
	position:absolute;
	background-color:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
#profileIcon.noplus::after,#profileIcon.noplus::before {
    opacity:0;
}
#profileIcon img {
	bottom: 0px;
box-shadow: rgba(224, 224, 224, 0.701961) 0px 0px 0px 5px inset;
left: 0px;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
margin-top: auto;
max-height: 100%;
max-width: 100%;
position: absolute;
right: 0px;
top: 0px;
width: 100%;
z-index: 10;
}
#mainDetails {
	color:#fff;
	font-size:5rem;
}
#mainDetails h3 {
	font-size:4rem;
}

#description,#answer {
	margin:30px 0 30px;
	width:96%;
	background-color:#474441;
	border:0;
    resize: none;
	font-size:3rem;
	color:#fff;
	padding: 10px 2%;
}

.whiteback {
	background-color:#fff;
	clear:both;
	float:left;
	width:100%;
}
.greenback {
	background-color:#63bd6c;
	clear:both;
	float:left;
	width:100%;
}

.header {
	margin-top:20px;
	clear:both;
}

#interests,.interests {
	width:100%;
	clear:both;
	margin: 20px 0;
    overflow:scroll;
    height:9rem;
    white-space: nowrap;
}

.plus-icon-green {
	background-color:#63bd6c;
	width:8rem;
	height:8rem;
	cursor:pointer;
	border:0;
	border-radius:15rem;
	position:relative;
}
.plus-icon-green::before {
	content:'';
	width:50%;
	height:7%;
	background-color:#fff;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.plus-icon-green::after {
	content:'';
	width:7%;
	height:50%;
	background-color:#fff;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.black {
	color:#000;
}

#imageGallery {
	width:100%;
	clear:both;
    overflow:scroll;
}
#imageGallery img{
	width:25%;
	margin: 10px 4%;
	float:left;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

#gallery {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	opacity:0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
	z-index: 99999;
    height:100%;
    background-color: #fff;
}

.backButton {
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height:60%;
    left: 4%;
}

.fixedheader {
    height: 12%;
    position: relative;
}

.mainCat div {
    width:100%;
}
.mainCat div img {
    width: 10%;
    max-height: 130px;
    margin:5% 3%;
    vertical-align: middle;
}
.mainCat div h3 {
    color:#fff;
    display:inline-block;
    vertical-align: middle;
}

.overflow {
    overflow-y: scroll;
}

.fill {
    height: 88%;
    width: 100%;
}

.interesting {
    height:88%;
    width:90%;
    position:absolute;
    left:100%;
    bottom:0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.interesting div{ 
    clear:both;
    float:left;
    clear:both;
    width:90%;
}
.interesting div p{ 
    float:left;
    font-size:5rem;
    margin-top: 1rem;
}
.interesting div button{ 
    clear:both;
    width:3rem;
    height:3rem;
    border:0;
    background-color:#fff;
}
#interestspage {
    position:absolute;
    left:0%;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    top:0;
    overflow: hidden;
    background: #63bd6c;
}
#subcats button{
    background-color: #fff;
    border-radius:1rem;
    float: left;
    height: 3rem;
    margin: 1rem;
    width: 3rem;
    position:relative;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    background-image: url(../img/tick.png);
    background-size:0%;
    background-position: center;
    background-repeat: no-repeat;
}
#subcats button.active{
    background-size:80%;
}
#subcats {
    color:#fff;
    overflow:scroll;
}
#interests .imageint,.interests .imageint  {
    float:left;
    border:5px solid #63bd6c;
    border-radius:10rem;
    position:relative;
height: 7rem;
margin-right: 1rem;
width: 7rem;
}
.imageint img {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
    max-width:80%;
    max-height:80%;
}
#question {
	width:100%;
	clear:both;
	margin: 20px 0;
}
#question select {
    font-size:3rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
#question select, #question textarea {
    width:91%;
    background-color:#fff;
    border: 5px solid #63bd6c;
    padding:2rem 3%;
    color:#000;
}
#question select {
    width:100%;
}
h2.none {
    margin-bottom: 8rem;
    margin-top: 8rem;
    text-align: center;
}
button.none {
        border:0.5rem solid #1aafdb;
    display: block;
    font-size: 5rem;
    margin: auto;
    padding: 2rem;
    background:transparent;
}
.thumbsup {
    margin: 20px auto;
    display: block;
    max-width: 100%;
    width: 8rem;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.flame {
  -webkit-animation-name: pulse;
  animation-name: pulse;
    -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
    -webkit-transition-timing-function: ease; /* Safari and Chrome */
    transition-timing-function: ease;
    width: 25%;
}



.loader {
    width:100%;
    background-color:#fff;
}

.burgermenu {
    position:absolute;
    width:8%;
    height:30%;
    margin:auto;
    right:5%;
    top:0;
    bottom:0;
    z-index:99999999;
}
.burgermenu div {
    position: absolute;
    height:0.5em;
    background-color:#fff;
    width:100%;
    left:0;
}
.burgermenu div:nth-child(1) {
    top:0;
}
.burgermenu div:nth-child(2) {
    top:1rem;
}
.burgermenu div:nth-child(3) {
    top:2rem;
}

.subscreen {
    top:12%;
    position: absolute;
overflow-x: hidden;
}

.profilemain {
    padding: 4% 0;
    height:100%;
    overflow-y: scroll;
}

#viewprofile {
    background-color: #fff;
    display: none;
}

.thumbs {
    width:50%;
    margin: 0 auto;
}
.thumbs img{
    width:40%;
    margin:0 4%;
}

#mainDetails h4{
    margin-top:5rem;
}

#picky {
    background-color: #fff;
    z-index:9999;
}

.sixty {
    width:60%;
    float:left;
}

.topspacing {
    margin-top:5%;
}

.gender {
float: left;
height: 6rem;
margin-right: 2rem;
margin-top: 2%;
position: relative;
width: 6rem;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}
#gender1 {
    background-image: url(../img/male.png);
}
#gender2 {
    background-image: url(../img/female.png);
}

#gender1::after {
    content:'';
    background-image: url(../img/male-black.png);
    opacity:1;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    width:100%;
    height:100%;
    top:0;
    position: absolute;
    left:0;
    background-size: contain;
    background-repeat: no-repeat;
}
#gender2::after {
    content:'';
    background-image: url(../img/female-black.png);
    opacity:1;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    width:100%;
    height:100%;
    top:0;
    position: absolute;
    left:0;
    background-size: contain;
    background-repeat: no-repeat;
}
#gender1.active::after,#gender2.active::after {
    content:'';
    opacity:0;
}
.left {
    float: left;
}
.topspacingtwo {
    margin-top:10%;
}
.handle {
    width:3rem;
    background-color: #00ff00;
    height: 3rem;
    margin-top: -0.5rem;
    border-radius: 10rem;
    position:absolute;
}

.handleCircle::before {
    content:'';
    width:150%;
    height:150%;
    position: absolute;
    border: 0.5rem solid #5cd1f4;
    border-radius: 12rem;
    left: -1.25rem;
    top: -1.25rem;
}
.handleCircle::after {
    content:'';
    width:250%;
    height:250%;
    position: absolute;
    border: 0.5rem solid #1aafdb;
    border-radius: 12rem;
    left: -2.75rem;
    top: -2.75rem;
}

.dragdealer {
    float:left;
    width:100%;
    margin-top:12%;
    background-color:#1aafdb;
    height:2rem;
    border-radius:4rem;
    position: relative;
}

.range {
    position:relative;
    float:left;
    width:100%;
}
.range .dragdealer{
    position:absolute;
    left:0;top:0;
}
.range .dragdealer .handle{
    z-index: 2000;
}

.bluehandle {
    width:3rem;
    background-color: #1aafdb;
    height: 3rem;
    margin-top:0rem;
    border-radius: 10rem;
    position:absolute;
    left:0;
    top:0;
    margin-top:-0.5rem;
}

#smallslider {
    background-color: #2d2c2b;
}
#smallslider .bluehandle.big {
    width:4rem;
    height:4rem;
    margin-top:-1rem;
}

#barbetween {
    height:2rem;
    background-color:#1aafdb;
    width:2rem;
    position:absolute;
    top:0;
    border-radius:2rem;
    pointer-events: none;
}

#menu {
    width:80%;
    height:100%;
    z-index:9999999;
    right: 0;
    position: absolute;
    top: 0;
    background-color:#2d2c2b;
    display: none;
}
#menu button{
    background-color:transparent;
    border:0;
    width:80%;
    margin: 0 auto;
    text-align: left;
    display: block;
    padding: 5%;
    color:#fff;
    border-bottom:2px solid #ddd;
}
#menu button:last-child {
    border:0;
}
#menu button h3 {
    font-size: 6rem;
    margin-bottom:2rem;
}
#menu button p {
    font-size: 4rem;
}
#menu h2 {
    background-color:#1aafdb;
    color:#fff;
    padding:6% 10%;
}
#menu button {
    color:#fff;
}

.rocket {
    max-width:15rem;
    max-height:15rem;
}

.mainDetails {
    color:#fff;
}
.mainDetails h3 {
margin-top:2rem;
font-size: 6rem;
}
.mainDetails h4 {
margin-top:2rem;
font-size: 6rem;
}

.profileviewer {
    position:absolute;
    top:0;
    left:0;
}

#mainScreen {
    overflow-x:hidden;
}

.questionview {
    font-size: 5rem;
}

.answerview {
    font-size: 4rem;
    margin:2rem 0 4rem;
}

.tb {
   -webkit-transition: 0.5 all;
   transition: 0.5 all; 
    -webkit-transform: scale(1) translateY(0); 
    -ms-transform: scale(1) translateY(0); 
    transform: scale(1) translateY(0);
}
.tb:hover {
    -webkit-transform: scale(0.8) translateY(-1px);
    -ms-transform: scale(0.8) translateY(-1px);
    transform: scale(0.8) translateY(-1px);
    
}

#newmessage {
    background-image: url(../img/message.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:6rem;
    height:6rem;margin-top: 5%;
    max-height: 90%;
    max-width: 10%;
    position: absolute;
    right: 20%;
}

#messages {
    background-color: white;
}
#mainMessages div img {
    border-radius: 8rem;
    float: left;
    margin-right: 2rem;
    max-height: 8rem;
    max-width: 8rem;
}
#mainMessages div h3 {
    margin-top: 1rem;
    font-weight: normal;
}
#mainMessages div p {
    margin-top: 2rem;
    text-align: right;
}
#mainMessages div {
    margin-bottom: 4rem;
}
.headermenuMessage {
    height:10%;
    border-bottom:1rem solid #ddd;
    width:100%;
    position:absolute;
    top:0;
}

#activeMessages {
    position: absolute;
    height:100%;
    width:100%;
    display:none;
}

#messagesarchive {
    width:100%;
    height:90%;
    position:absolute;
    bottom:0;
    overflow: hidden;
}
