

/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
html,body,#pagewrap {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#000;
	background-color:#fff;
	overflow:hidden;
}
#pagewrap {
    display: none;
    position:relative;
    z-index: 1;
}
h1,h2,h3,h4,h5,h6,button {
  font-family: 'Anke';
	margin:0;
	font-weight:normal;
}
h1 {
	font-size:8rem;
}
h2 {
	font-size:7rem;
}
h3 {
	font-size:4rem;
}
p {
	font-size:3rem;
	margin:0;
    font-family: 'open_sansregular';
}
button {
	cursor:pointer;
}
/* FONTS */
@font-face {
  font-family: 'Anke';
  src: url('../fonts/Anke.eot?#iefix') format('embedded-opentype'),  url('../fonts/Anke.woff') format('woff'), url('../fonts/Anke.ttf')  format('truetype'), url('../fonts/Anke.svg#Anke') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* homescreen */
.screen {
	width:100%;
	height:100%;
overflow-y: scroll;
overflow-x: hidden;
}
#homescreen {
	text-align:center;
	float:left;
}

#h-one {
	background-color:#2d2c2b;
	height:50%;
	float:left;
	position: relative;width: 100%;
}
#h-one h1 {
    color: #FF0B25;
    font-weight: bold;
    font-size: 11rem;
    margin-bottom: 5%;word-spacing: 10000px;
	width:70%;
    float:left;
}
#h-one img{
    -webkit-transform: rotate(-38deg);
    -ms-transform: rotate(-38deg);
    transform: rotate(-38deg);
    float:left;
    max-width:25%;margin-top: -8%;
}
.center h2 {
	font-size:10rem;
}
#h-one h2:nth-child(3) {
	color:#434342;
}
#h-one h2:nth-child(4) {
	color:#545454;
}
#h-one h2:nth-child(5) {
	color:#fff;
}
#h-two,#h-three {
	width:100%;
	height:25%;
	float:left;
    position: relative;
}
#h-two {
	background-color: #4f6daa;
}
#h-three {
	background-color: #aa3f3f;
}

.center {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#h-two button {
	border: 2px solid #fff;
	background-color:#3b5998;
	color:#fff;
	width:80%;
	height:12rem;
    padding-left: 50px;
    font-size: 5.5rem;
}

#h-two button::before {
	content:'';
	    background-image: url(../img/f-icon.png);
    background-size: contain;
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-repeat: no-repeat;
    left: 5rem;
    bottom:0;
    margin:auto;
    top: 0;
}

#h-three button {
	border: 2px solid #fff;
	background-color:#9b3434;
	color:#fff;
	width:80%;
	height:12rem;
    font-size:5.5rem;
}
.app {
	width:100%;
	
}

#facebookLogin {
	display:none;
}

.greyback {
	background-color:#2d2c2b;
	clear:both;
	float:left;
	width:100%;
    color:#fff;
}
.greyback p {
float: left;
font-size: 3.5rem;
margin-top: 3rem;
width: 100%;
}

hr {
	background-color:#474746;
	width:100%;
	clear:both;
	margin: 0px 0 30px;
}

.spacingcenter {
	width:90%;
	margin:0 auto;
}

.screen-header {
	color: white;
font-size: 28px;
left: 17%;
line-height: 80px;
margin: auto;
position: absolute;
top: 0px;
}
.screen-header-unfixed {
	color:#fff;
    margin: auto;
    top: 0;
    line-height:75px;
    font-size: 8rem;
    height:75px;
}

.column-two {
	width:50%;
	float:left;
}
#editprof {
    position: absolute;
    top: 0px;
    left: 0px;
}
#profileIcon,.profileIcon {
	background-color:#1aafdb;
	border-radius:30rem;
	position:relative;
	overflow: hidden;
    background-size: cover;
    background-position: center;
  width: 1em;
  height: 1em;
  font-size: 35rem;
  cursor: default;
}
#profileIcon div:nth-child(2){
    overflow: hidden;
    width: 50%;
    right: 0;
    top: 0;
    border-color: transparent;
    border: 0;
    height: 100%;
}
#profileIcon div div{
  position: absolute;
  clip: rect(0px,1em,1em,0.5em);
  margin: 0;
  padding: 0;
    border-color:#47d656;
    right: 0;
    -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);
}
#profileIcon div:nth-child(3){
  position: absolute;
  clip: rect(0px,1em,1em,0.5em);
  margin: 0;
  padding: 0;
    border-color:#47d656;
    -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);
    opacity: 0;
}
#profileIcon div {
  position: absolute;
  border: .06em solid rgba(218, 218, 218, 0.62);
    width: 0.885em;
    height: 0.885em;
  border-radius: .5em;
  margin: 0;
  padding: 0;
}

#profileIcon::after {
	content:'';
	width:50%;
	height:7%;
	position:absolute;
	background-color:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
#profileIcon::before {
	content:'';
	width:7%;
	height:50%;
	position:absolute;
	background-color:#fff;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
#profileIcon.noplus::after,#profileIcon.noplus::before {
    opacity:0;
}
#profileIcon img {
	bottom: 0px;
box-shadow: rgba(224, 224, 224, 0.701961) 0px 0px 0px 5px inset;
left: 0px;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
margin-top: auto;
max-height: 100%;
max-width: 100%;
position: absolute;
right: 0px;
top: 0px;
width: 100%;
z-index: 10;
}
#mainDetails {
	color:#fff;
	font-size:5rem;
}
#mainDetails h3 {
	font-size:7rem;
}

#description,#answer {
	margin:30px 0 30px;
	width:96%;
	background-color:#474441;
	border:0;
    resize: none;
	font-size:3rem;
	color:#fff;
	padding: 10px 2%;
}

.whiteback {
	background-color:#fff;
	clear:both;
	float:left;
	width:100%;
}
.greenback {
	background-color:#63bd6c;
	clear:both;
	float:left;
	width:100%;
}

.header {
	margin-top:20px;
	clear:both;
}

#interests,.interests {
	width:100%;
	clear:both;
	margin: 20px 0 0.5rem;
    overflow:scroll;
    height:9rem;
    white-space: nowrap;
}

.plus-icon-green {
	background-color:#63bd6c;
	width:8rem;
	height:8rem;
	cursor:pointer;
	border:0;
	border-radius:15rem;
	position:relative;
}
.bigguy {
    clear: both;
    float: right;
    margin-left: 15%;
    margin-right: -33%;
    max-width: 120%;
    right: 0px;
}
.plus-icon-green::before {
	content:'';
	width:50%;
	height:7%;
	background-color:#fff;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.plus-icon-green::after {
	content:'';
	width:7%;
	height:50%;
	background-color:#fff;
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.black {
	color:#000;
}

#imageGallery {
	width:100%;
	clear:both;
    overflow:scroll;
}
#imageGallery img{
	width:25%;
	margin: 10px 4%;
	float:left;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

#gallery {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	opacity:0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
	z-index: 99999;
    height:100%;
    background-color: #fff;
}
.fixedheader {
    height: 75px;
    position: relative;
}

.mainCat div {
    width:100%;
}
.mainCat div img {
    width: 10%;
    max-height: 130px;
    margin:5% 3%;
    vertical-align: middle;
}
.mainCat div h3 {
    color:#fff;
    display:inline-block;
    vertical-align: middle;
}
.overflow {
    overflow-y: scroll;
}
.fill {
    height: 88%;
    width: 100%;
    bottom:0;
}
.interesting {
    height:88%;
    width:90%;
    position:absolute;
    left:100%;
    bottom:0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.interesting div{ 
    clear:both;
    float:left;
    clear:both;
    width:90%;
}
.interesting div p{ 
    float:left;
    font-size:18px;
    margin-top: 1rem;
}
.interesting div button{ 
    clear:both;
    width:3rem;
    height:3rem;
    border:0;
    background-color:#fff;
}
#interestspage {
    position:absolute;
    left:0%;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    top:0;
    overflow: hidden;
    background: #63bd6c;
}
#subcats button{
    background-color: #fff;
    border-radius:1rem;
    float: left;
    height: 3rem;
    margin: 1rem;
    width: 3rem;
    position:relative;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    background-image: url(../img/tick.png);
    background-size:0%;
    background-position: center;
    background-repeat: no-repeat;
}
#subcats button.active{
    background-size:80%;
}
#subcats {
    color:#fff;
    overflow:scroll;
}
#interests .imageint,.interests .imageint  {
    display:inline-block;
    border:5px solid #63bd6c;
    border-radius:10rem;
    position:relative;
height: 7rem;
margin-right: 1rem;
width: 7rem;
}
.imageint img {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
    max-width:80%;
    max-height:80%;
}
#question {
	width:100%;
	clear:both;
	margin: 20px 0;
}
#question select {
    font-size:3rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
#question select, #question textarea {
    width:91%;
    background-color:#fff;
    border: 5px solid #63bd6c;
    padding:2rem 3%;
    color:#000;
}
#question select {
    width:100%;
}
h2.none {
    margin-bottom: 8rem;
    margin-top: 8rem;
    text-align: center;
}
button.none {
    display: block;
    font-size: 5rem;
    margin: auto;
    background:transparent;
    width: 80%;
    border:0;
}
div.none {
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}
.thumbsup {
    margin: 20px auto;
    display: block;
    max-width: 100%;
    width: 8rem;
}

.burgermenu {
    position:absolute;
    width:30px;
    height:30px;
    margin:auto;
    right:5%;
    top:0;
    bottom:0;
    z-index:999999999;
}
.burgermenu div {
    position: absolute;
    height:0.5em;
    background-color:#fff;
    width:100%;
    left:0;
}
.burgermenu div:nth-child(1) {
    top:10%;
}
.burgermenu div:nth-child(2) {
    top:40%;
}
.burgermenu div:nth-child(3) {
    top:70%;
}

.subscreen {
    top:75px;
    position: absolute;
overflow-x: hidden;
}

.profilemain {
    padding: 4% 0;
    height:100%;
    overflow-y: scroll;
}

#viewprofile {
    background-color: #fff;
    display: none;
}

.thumbs {
    width:50%;
    margin: 0 auto 20px;
}
.thumbs img{
    width:40%;
    margin:0 4%;
}

#mainDetails h4{
    margin-top:5rem;
}

#picky {
    background-color: #fff;
    z-index:9999;
}

.sixty {
    width:60%;
    float:left;
}

.topspacing {
    margin-top:5%;
}

.gender {
float: left;
height: 6rem;
margin-right: 2rem;
margin-top: 2%;
position: relative;
width: 6rem;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}
#gender1 {
    background-image: url(../img/male.png);
}
#gender2 {
    background-image: url(../img/female.png);
}

#gender1::after {
    content:'';
    background-image: url(../img/male-black.png);
    opacity:1;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    width:100%;
    height:100%;
    top:0;
    position: absolute;
    left:0;
    background-size: contain;
    background-repeat: no-repeat;
}
#gender2::after {
    content:'';
    background-image: url(../img/female-black.png);
    opacity:1;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    width:100%;
    height:100%;
    top:0;
    position: absolute;
    left:0;
    background-size: contain;
    background-repeat: no-repeat;
}
#gender1.active::after,#gender2.active::after {
    content:'';
    opacity:0;
}
.left {
    float: left;
}
.topspacingtwo {
    margin-top:10%;
}
.handle {
    width:3rem;
    background-color: #00ff00;
    height: 3rem;
    margin-top: -0.5rem;
    border-radius: 10rem;
    position:absolute;
}

.handleCircle::before {
    content:'';
    width:150%;
    height:150%;
    position: absolute;
    border: 0.5rem solid #5cd1f4;
    border-radius: 12rem;
    left: -1.25rem;
    top: -1.25rem;
}
.handleCircle::after {
    content:'';
    width:250%;
    height:250%;
    position: absolute;
    border: 0.5rem solid #1aafdb;
    border-radius: 12rem;
    left: -2.75rem;
    top: -2.75rem;
}

.dragdealer {
    float:left;
    width:100%;
    margin-top:12%;
    background-color:#1aafdb;
    height:2rem;
    border-radius:4rem;
    position: relative;
}

.range {
    position:relative;
    float:left;
    width:100%;
}
.range .dragdealer{
    position:absolute;
    left:0;top:0;
}
.range .dragdealer .handle{
    z-index: 2000;
}

.bluehandle {
    width:3rem;
    background-color: #1aafdb;
    height: 3rem;
    margin-top:0rem;
    border-radius: 10rem;
    position:absolute;
    left:0;
    top:0;
    margin-top:-0.5rem;
}

#smallslider {
    background-color: #2d2c2b;
}
#smallslider .bluehandle.big {
    width:4rem;
    height:4rem;
    margin-top:-1rem;
}

#barbetween {
    height:2rem;
    background-color:#1aafdb;
    width:2rem;
    position:absolute;
    top:0;
    border-radius:2rem;
    pointer-events: none;
}

#menu {
    width:80%;
    height:100%;
    z-index:9999999;
    right: 0;
    position: absolute;
    top: 0;
    background-color:#2d2c2b;
    display: none;
}
#menu button{
    background-color:transparent;
    border:0;
    width:80%;
    margin: 0 auto;
    text-align: left;
    display: block;
    padding: 5%;
    color:#fff;
    border-bottom:2px solid #ddd;
}
#menu button:last-child {
    border:0;
}
#menu button h3 {
    font-size: 6rem;
    margin-bottom:2rem;
}
#menu button p {
    font-size: 4rem;
}
#menu h2 {
    background-color:#1aafdb;
    color:#fff;
    padding-left:2rem;
    line-height: 8rem;
    padding-top: 1rem;
}
#menu button {
    color:#fff;
}

.rocket {
    max-width:15rem;
    max-height:15rem;
}

.mainDetails {
    color:#fff;
}
.mainDetails h3 {
margin-top:2rem;
font-size: 6rem;
}
.mainDetails h4 {
margin-top:2rem;
font-size: 6rem;
}

.profileviewer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

#mainScreen {
    overflow-x:hidden;
}

.questionview {
    font-size: 5rem;
}

.answerview {
    font-size: 4rem;
    margin:2rem 0 4rem;
}

.tb {
   -webkit-transition: 0.5 all;
   transition: 0.5 all; 
    -webkit-transform: scale(1) translateY(0); 
    -ms-transform: scale(1) translateY(0); 
    transform: scale(1) translateY(0);
}
.tb:hover {
    -webkit-transform: scale(0.8) translateY(-1px);
    -ms-transform: scale(0.8) translateY(-1px);
    transform: scale(0.8) translateY(-1px);
    
}

#newmessage {
    background-image: url(../img/message.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:6rem;
    height:6rem;
    top: 25%;
    max-height: 90%;
    max-width: 10%;
    position: absolute;
    right: 20%;
}

#messages {
    background-color: white;
    overflow-x: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
#mainMessages {
    position: absolute;
    top:0%;
    width: 100%;
}
#mainMessages div .divImage {
    border-radius: 8rem;
    float: left;
    margin-right: 2rem;
    max-height: 8rem;
    max-width: 8rem;
}
#mainMessages div h3 {
    margin-top: 1rem;
    font-weight: normal;
}
#mainMessages div p {
    margin-top: -1rem;
    text-align: right;
}
#mainMessages div {
    margin-bottom: 4rem;
    margin-left: 3%;
width: 94%;
}
.headermenuMessage {
    height:7rem;
    border-bottom:0.4rem solid #ddd;
    width:100%;
    position:fixed;
    top:0;
    z-index:999999999;
    background-color:#fff;
}

#activeMessages {
    position: absolute;
    height:100%;
    width:100%;
    display:none;left: 0px;
top: 0px;
    background-color:#fff;
}

#messagesarchive {
    width:100%;
    height:82%;
    position:absolute;
    top:0;
    overflow: scroll;
    color: #fff;
    border-bottom: 0.3rem solid #000;
}
#messagesarchive div:first-child {
    margin-top:7rem;
}
#messagesarchive .senttouser  {
    margin:1.5rem 0;
    background-color:#63BD6C;
    width:90%;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
}
#messagesarchive .senttouser p:nth-child(2){
    margin-top:2rem;
    font-size: 4rem;
    float: left;
    width: 60%;margin-bottom: 3em;
}
#messagesarchive .senttouser p:nth-child(3){
    clear: both;
float: left;
font-size: 2rem;
font-style: italic;
margin-bottom: 1rem;
margin-right: 5rem;
text-align: right;
width: 89%;margin-top: -3em;
}
#messagesarchive .senttouser {
    color: #fff;
}
#messagesarchive .senttouser img {
    border-radius: 10rem;
    float: left;
    margin: 1rem;
    max-height: 7rem;
    max-width: 7rem;
}
#messagesarchive .sentfromuser  {
    margin:1.5rem 0;
    background-color:#1aafdb;
    width:90%;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    margin-left:10%;
}
#messagesarchive .sentfromuser p:nth-child(1){
    float: left;
    margin-left: 10%;
    margin-top: 1rem;
    width: 65%;margin-bottom: 3em;
}
#messagesarchive .sentfromuser p:nth-child(3){
    clear: both;
    float: left;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1rem;
    margin-left: 10%;
    text-align: left;
    width: 89%;margin-top: -3em;
}
#messagesarchive .sentfromuser {
    color: #fff;
}
#messagesarchive .sentfromuser img {
    border-radius: 10rem;
    float: right;
    margin: 1rem;
    max-height: 7rem;
    max-width: 7rem;vertical-align: 
}
#messagesarchive div {
    overflow: hidden;
}
.messangertitle {
    font-size: 25px;
    line-height: 8rem;
    font-size:5rem;
    margin-left:8rem;
}

#messagesender {
    padding:0 1%; 
    width:73%;
    bottom: 1%;
    position: absolute;
    resize:none;
    border: 0;
    overflow-y: scroll;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    height:15%;
    font-size:4rem;
    margin-left:2rem;
}

#sendMessage {
    max-width:12%;
    position: absolute;
    bottom:2%;
    right:5.5%;
    z-index:9999999999999;
}

.fullscreen {
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:999999999;
}

#mainMessagesContainer {
    margin-top:10rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
#mainMessagesContainer h2{
    font-size:5rem;
}
#mainMessagesContainer h3{
    font-size:3rem;
}
img.backButton {
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height:50%;
    max-width:70%;
    left: 4%;
}
.pixel-loader {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  margin:auto;
    left:0;
    top:0;
    bottom:0;
    right:0;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  -webkit-animation: dots-loader 5s infinite ease-in-out;
  animation: dots-loader 5s infinite ease-in-out;
  -webkit-transition: .3s all;
  transition: .3s all;
}

@-webkit-keyframes dots-loader {
  0% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

@keyframes dots-loader {
  0% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

.rocketLoader {
    position:absolute;
    width:100%;
    height:100%;
    z-index:0;
    left:0;
    top:0;
  background-color: #fff;
}
.rocketLoader h2 {
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
}

.body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  -webkit-animation: speeder .4s linear infinite;
  animation: speeder .4s linear infinite;
}

.body > span {
  height: 55px;
  width: 150px;
  position: absolute;
  top: -59px;
  left: 0px;
  background-image:url(http://www.divinitycomputing.com/apps/beoples/logo-side.png);
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4){
  width: 30px;
  height: 1px;
  background: #ff0b25;
  position: absolute;
  -webkit-animation: fazer1 .2s linear infinite;
  animation: fazer1 .2s linear infinite;
  top:21px;
}

.body > span > span:nth-child(2) {
  top: 25px;
   -webkit-animation: fazer2 .4s linear infinite;
   animation: fazer2 .4s linear infinite;
}

.body > span > span:nth-child(3) {
  top: 29px;
   -webkit-animation: fazer3 .4s linear infinite;
   animation: fazer3 .4s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.body > span > span:nth-child(4) {
  top: 33px;
   -webkit-animation: fazer4 1s linear infinite;
   animation: fazer4 1s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes fazer1 {0% {left: 30px;} 100% {left: -80px;opacity: 0;}}

@keyframes fazer1 {0% {left: 30px;} 100% {left: -80px;opacity: 0;}}

@-webkit-keyframes fazer2 {0% {left: 30px;} 100% {left: -100px;opacity: 0;}}

@keyframes fazer2 {0% {left: 30px;} 100% {left: -100px;opacity: 0;}}

@-webkit-keyframes fazer3 {0% {left: 30px;} 100% {left: -50px;opacity: 0;}}

@keyframes fazer3 {0% {left: 30px;} 100% {left: -50px;opacity: 0;}}

@-webkit-keyframes fazer4 {0% {left: 30px;} 100% {left: -150px;opacity: 0;}}

@keyframes fazer4 {0% {left: 30px;} 100% {left: -150px;opacity: 0;}}

@-webkit-keyframes speeder {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -3px) rotate(-1deg); transform: translate(-1px, -3px) rotate(-1deg); }
	20% { -webkit-transform: translate(-2px, 0px) rotate(1deg); transform: translate(-2px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 3px) rotate(-1deg); transform: translate(-1px, 3px) rotate(-1deg); }
	60% { -webkit-transform: translate(-1px, 1px) rotate(0deg); transform: translate(-1px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-2px, -1px) rotate(1deg); transform: translate(-2px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes speeder {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -3px) rotate(-1deg); transform: translate(-1px, -3px) rotate(-1deg); }
	20% { -webkit-transform: translate(-2px, 0px) rotate(1deg); transform: translate(-2px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 3px) rotate(-1deg); transform: translate(-1px, 3px) rotate(-1deg); }
	60% { -webkit-transform: translate(-1px, 1px) rotate(0deg); transform: translate(-1px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-2px, -1px) rotate(1deg); transform: translate(-2px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #000;
}

.longfazers span:nth-child(1) {
  top: 20%;
  -webkit-animation: lf .6s linear infinite;
  animation: lf .6s linear infinite;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

.longfazers span:nth-child(2) {
  top: 40%;
  -webkit-animation: lf2 .8s linear infinite;
  animation: lf2 .8s linear infinite; 
  -webkit-animation-delay: -1s; 
  animation-delay: -1s;
}

.longfazers span:nth-child(3) {
  top: 60%;
  -webkit-animation: lf3 .6s linear infinite;
  animation: lf3 .6s linear infinite; 
}

.longfazers span:nth-child(4) {
  top: 80%;
  -webkit-animation: lf4 .5s linear infinite;
  animation: lf4 .5s linear infinite; 
  -webkit-animation-delay: -3s; 
  animation-delay: -3s;
}

@-webkit-keyframes lf {0% {left: 200%;} 100% {left: -200%;opacity: 0;}}

@keyframes lf {0% {left: 200%;} 100% {left: -200%;opacity: 0;}}
@-webkit-keyframes lf2 {0% {left: 200%;} 100% {left: -200%;opacity: 0;}}
@keyframes lf2 {0% {left: 200%;} 100% {left: -200%;opacity: 0;}}
@-webkit-keyframes lf3 {0% {left: 200%;} 100% {left: -100%;opacity: 0;}}
@keyframes lf3 {0% {left: 200%;} 100% {left: -100%;opacity: 0;}}
@-webkit-keyframes lf4 {0% {left: 200%;} 100% {left: -100%;opacity: 0;}}
@keyframes lf4 {0% {left: 200%;} 100% {left: -100%;opacity: 0;}}


#seachUserLoader img {
    left:0;
    right:0;
    margin:auto;
    max-width:50%;
    position:absolute;
}
#seachUserLoader img:nth-child(1) {
    bottom: 10%;
}
#seachUserLoader img:nth-child(2) {
    left: 60%;
    bottom: 25%;
    max-width:40%;
}
#seachUserLoader img:nth-child(3) {
    left: -60%;
    bottom: 34%;
    max-width:35%;
}
#seachUserLoader img:nth-child(4) {
    left: -7%;
    bottom: 51%;
    max-width:30%;
}
#seachUserLoader img:nth-child(5) {
    left: 54%;
    bottom: 62%;
    max-width:25%;
}
#seachUserLoader img:nth-child(6) {
    left: -58%;
    bottom: 73%;
    max-width:20%;
}

.match {
    background-color:rgba(0,0,0,0.8);
    display:none;
    position: fixed;
    top:0;
    left:0;
}

.matchcenter {
    width:100%;
    height:25rem;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
}
.matchcenter h2 {
    font-size:2.5rem;
    color:#fff;
    text-align:center;
    margin-top:1rem;
}
.matchcenter h2:first-child {
    margin-bottom:1rem;
}
.matchcenter img{
    margin:0 auto;
    border-radius:20rem;
    display:block;
    box-shadow: rgba(150, 255, 137, 0.701961) 0px 0px 0px 25px inset;
    padding: 0.5rem;
    width:12rem;
    height:12rem;
}
.subInterests {
    margin:5px 0 2rem;
    height:3rem;
    white-space: nowrap;
}
.subInterests p {
    display:inline-block;
    padding:1rem;
    margin:0 0.5rem;
    border-radius:1rem;
    background-color:#282828;
}